/* body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #95d5b2;
}

a {
    font-family: 'Hind', sans-serif;
    cursor: pointer;
}
.button {
    background-color: #95d5b2;
    border-radius: 3px;
    padding: 0.5rem;
    border: solid #74c69d;
    color: #40916c;
    font-size: 1.5rem;
    cursor: pointer;
    transition-duration: 1.3s;
}

.pokemon {
    height: 40vh;
    width: 23%;
    background-color: #b7e4c7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 6rem 0;
    border-radius: 1rem;
    border: 1.5rem solid #74c69d;
    box-shadow: 1rem 1rem 0.5rem #40916c;
    transition: all 0.3s ease-in-out;
}

.pokemon-img {
    width: 85%;
}

.pokemon-title {
    font-family: 'Hind', sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 3rem;
    color: #40916c
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 92vw;
    margin: 1rem auto;
    align-items: center;
    justify-content: space-between;
}
#pokemon-title-heading {
    background-color: #74c69d;
    font-size: 6rem;
    margin: 5rem 40rem;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 0.5rem #40916c;
} */
body,
html,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: var(--primary);
    
}

.display-card {
    width: 23%;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 1rem;
    margin: 20px 15px;
}

.display {
display: flex;
flex-wrap: wrap;
width: 92vw;
margin: 1rem auto;
align-items: center;
justify-content: center;
}

.display-img {
    width: 45%;
}

h2 {
    font-size: 25px;
    margin: 10px 0px;
}

#heading {
    background-color: var(--secondary);
    font-size: 6rem;
    margin: 5rem 35rem;
    border-radius: 1rem;
}

.title {
    text-align: center;
    font-weight: normal;
    font-size: 3rem;
    color: var(--tertiary);
}

.btn {
    background-color: var(--tertiary);
}

#change-theme {
    background-color: var(--tertiary);
}

:root {
    --blue:#62c1e5;
    --lightblue: #a0d9ef;
    --darkblue: #20a7db;
    --anotherblue: #89CFF3;
    --mint: #D0E7D2;
    --darkgreen: #618264;
    --green: #79AC78;
    --lightgreen: #B0D9B1;
    --primary:  var(--mint);
    --secondary: var(--darkgreen);
}

.freshy{
    --primary: var(--lightblue);
    --secondary: var(--blue);
    --tertiary: var(--darkblue);
    --quaternary: var(--anotherblue);
}
  
.minty{
    --primary:  var(--mint);
    --secondary: var(--darkgreen);
    --tertiary: var(--green);
    --quaternary: var(--lightgreen);
}



