/* body,
html,
* {
    font-size: 10px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #95d5b2;
}

a {
    font-family: 'Hind', sans-serif;
    cursor: pointer;
}
.button {
    background-color: #95d5b2;
    border-radius: 3px;
    padding: 0.5rem;
    border: solid #74c69d;
    color: #40916c;
    font-size: 1.5rem;
    cursor: pointer;
    transition-duration: 1.3s;
}

.pokemon {
    height: 40vh;
    width: 23%;
    background-color: #b7e4c7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 6rem 0;
    border-radius: 1rem;
    border: 1.5rem solid #74c69d;
    box-shadow: 1rem 1rem 0.5rem #40916c;
    transition: all 0.3s ease-in-out;
}

.pokemon-img {
    width: 85%;
}

.pokemon-title {
    font-family: 'Hind', sans-serif;
    text-align: center;
    font-weight: normal;
    font-size: 3rem;
    color: #40916c
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 92vw;
    margin: 1rem auto;
    align-items: center;
    justify-content: space-between;
}
#pokemon-title-heading {
    background-color: #74c69d;
    font-size: 6rem;
    margin: 5rem 40rem;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 0.5rem #40916c;
} */

:root {
    --blue: #2998ff;
    --lightblue: #8eb3d6;
    --anotherblue: #5d9cd6;
    --green: #40ffef;
    
    --primary: var(--anotherblue);
    --secondary: var(--green);
}
  
body {
    background-color: var(--primary);
}
  
.light{
    --primary: var(--lightblue);
    --secondary: var(--blue);
}
  
.dark{
    --primary: var(var(--primary))
    --secodary: var(var(--secondary))
}